{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Settings" %}{% endblock %}

<!--TODO make form look nice -->

{% block content %}
    <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
        <input class="form-control" name="next" type="hidden" value="{{ redirect_to }}">
        <select name="language" class="form-control">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                    {{ language.name_local }} ({{ language.code }})
                </option>
            {% endfor %}
        </select>
        <br/>
        <input type="submit" value="{% trans 'Save' %}" class="btn btn-success">
    </form>
{% endblock %}

