html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 30px; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 35px; /* Set the fixed height of the footer here */
  line-height: 30px; /* Vertically center the text there */
}