{% load staticfiles %}
{% load i18n %}

<html>
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}
    {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

    <script src="{% static 'jquery.min.js' %}"></script>
    <script src="{% static 'popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">

    <link rel="stylesheet" href="{% static 'footer.css' %}">

    {% block extra_head %} <!-- block for templates to put stuff into header -->
    {% endblock %}

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">{% trans 'Home' %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'list_program' %}">{% trans 'Programs' %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'list_dashboard' %}">{% trans 'Buttons' %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'remote' %}">{% trans 'Remote' %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'docs' %}">{% trans 'Docs' %}</a>
            </li>
        </ul>

        <ul class="navbar-nav">
            {% if user.is_staff %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin:index' %}">{% trans 'Admin' %}</a>
                </li>
            {% endif %}

            <li class="nav-item">
                {% if user.is_authenticated %}
                    <a class="nav-link"
                       href="{% url 'logout' %}">{% trans 'Logout' %} {{ user.first_name }} {{ user.last_name }} <i
                            class="fas fa-sign-out-alt"></i></a>
                {% else %}
                    <a class="nav-link" href="{% url 'login' %}">{% trans 'Login' %} <i class="fas fa-sign-in-alt"></i></a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>
<br/>
<br/>

<div class="container">

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}

    {% block content %}
    {% endblock %}

</div>

<div class="text-center">
    <footer class="footer">

        <span class="text-muted">Created with <i class="fas fa-heart"></i> by <a href="https://github.com/vabene1111/Django-PiGPIO" target="_blank">vabene111</a></span>
        <br/>
    </footer>
</div>


<script type="text/javascript">

    let docUrls = {
        'block_gpio_output': '{% url 'docs' 'block_gpio_output'%}',
        'block_gpio_input': '{% url 'docs' 'block_gpio_input'%}',
        'block_gpio_mode': '{% url 'docs' 'block_gpio_mode'%}',
        'block_debug': '{% url 'docs' 'block_debug'%}',
        'block_seep': '{% url 'docs' 'block_seep'%}',
        'block_log': '{% url 'docs' 'block_log'%}',
    };

    $(document).ready(function () {
        setupAjax();
    });

    function setupAjax() {
        let csrftoken = getCookie('csrftoken');

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    }

    function csrfSafeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>

{% block script %}
{% endblock %}


</body>
</html>