{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% load render_table from django_tables2 %}

{% block title %}{% trans "Pi GPIO" %}{% endblock %}



{% block content %}

    <a href="https://de.pinout.xyz/">Pin Belegung</a> -
    <a href="{% url 'api_set_pin' %}">Set Pin API Test</a>

    <br/>
    <br/>
    <br/>

    <button onclick="setPin(15,1)" class="btn btn-success">IN 1</button>
    <button onclick="setPin(13,1)" class="btn btn-success">IN 2</button>
    <button onclick="setPin(11,1)" class="btn btn-success">IN 3</button>
    <button onclick="setPin(7,1)" class="btn btn-success">IN 4</button>

    <br/>
    <br/>

    <button onclick="setPin(15,0)" class="btn btn-danger">IN 1</button>
    <button onclick="setPin(13,0)" class="btn btn-danger">IN 2</button>
    <button onclick="setPin(11,0)" class="btn btn-danger">IN 3</button>
    <button onclick="setPin(7,0)" class="btn btn-danger">IN 4</button>

    <br/>
    <br/>

    <button onclick="runProgram(1)" class="btn btn-success">Run Program</button>


{% endblock %}


{% block script %}
    <script type="text/javascript">
        function setPin(pin, state) {
            let request_body = JSON.stringify({
                "pin": pin,
                "mode": 1,
                "state": state
            });

            setupAjax();
            makeRequest(request_body, '{% url "api_set_pin" %}' )
        }

        function runProgram(program) {
            let request_body = JSON.stringify({
                "program": program
            });

            setupAjax();
            makeRequest(request_body, '{% url "api_run_prog" %}' )
        }

        function makeRequest(request_body, url) {
            $.ajax({
                url: url,
                dataType: 'json',
                type: 'POST',
                contentType: 'application/json',
                data: request_body,
                success: function (data, textStatus, jQxhr) {
                    console.log(data, textStatus, jQxhr);
                },
                error: function (jqXhr, textStatus, errorThrown) {
                    console.log(errorThrown);
                }
            });
        }

        // TODO move into base on page load (needs only one execution)
        function setupAjax() {
            let csrftoken = getCookie('csrftoken');

            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
        }

        function csrfSafeMethod(method) {
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>
{% endblock %}