{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Pi GPIO" %}{% endblock %}



{% block content %}
    <div class="row">
        <div class="col-12 text-center">
            <a href="https://pinout.xyz/" target="_blank">{% trans 'Raspberry Pi Pin Info' %}</a>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div id="blocklyDiv" style="height: 75%!important;"></div>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-12 text-center">
            <button onclick="exportBlocks()" class="btn btn-success"><i class="fas fa-download"></i> Export</button>
            <button onclick="importBlocks()" class="btn btn-danger"><i class="fas fa-upload"></i> Import</button>
            <button onclick="saveProgram()" class="btn btn-primary"><i class="fas fa-save"></i> Save</button>
            <button onclick="runProgram()" class="btn btn-info"><i class="fas fa-running"></i> Run</button>

            <a href="{% url 'edit_program' program.pk %}" class="btn btn-warning"><i class="fas fa-info-circle"></i>
                Program Info</a>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-12">
            <textarea id="blocky_io" class="form-control"></textarea>
            <br/>
        </div>
    </div>

    {% include 'toolbox.xml' %}

    <div class="modal" tabindex="-1" role="dialog" id="program_modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><i class="fas fa-running"></i> {% trans 'Execution Info' %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">

                    <div class="spinner-border" style="width: 5rem; height: 5rem;" role="status" id="program_spinner">
                        <span class="sr-only">Loading...</span>
                    </div>

                    <textarea class="form-control" id="program_log_data" style="height: 60%!important;"></textarea>
                    <br/>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block script %}
    <script src="{% static 'blocky/blockly_compressed.js' %}"></script>
    <script src="{% static 'blocky/python_compressed.js' %}"></script>
    <script src="{% static 'blocky/blocks_compressed.js' %}"></script>
    <script src="{% static 'blocky/msg/js/en.js' %}"></script>

    <script src="{% static 'blockly_custom_blocks.js' %}"></script>

    <script type="text/javascript">

        function exportBlocks() {
            var xml = Blockly.Xml.workspaceToDom(workspace);
            var xml_text = Blockly.Xml.domToText(xml);
            $('#blocky_io').val(xml_text)
        }

        function importBlocks() {
            var xml = Blockly.Xml.textToDom($('#blocky_io').val());
            Blockly.Xml.domToWorkspace(xml, workspace);
            $('#blocky_io').val('')
        }

        function saveProgram() {
            let xml = Blockly.Xml.workspaceToDom(workspace);
            let xml_text = Blockly.Xml.domToText(xml);

            let code = Blockly.Python.workspaceToCode(workspace);

            let request_body = JSON.stringify({
                "pk": {{ program.pk }},
                "blockly_string": xml_text,
                "code": code
            });

            makeRequest(request_body, '{% url "api_edit_program" %}', saveProgramCallback);

        }

        function saveProgramCallback(error, data, textStatus, jqXhr) {
            if (error) {
                alert('{% trans 'An Error occured when trying to save your Program.' %}');
            } else {
                let xml = Blockly.Xml.workspaceToDom(workspace);
                let xml_text = Blockly.Xml.domToText(xml);

                workspace_last_data = xml_text;
            }
        }

        function runProgram() {
            let xml = Blockly.Xml.workspaceToDom(workspace);
            let xml_text = Blockly.Xml.domToText(xml);

            if (workspace_last_data !== xml_text) {
                confirm('{% trans 'There are unsaved changes to your Program. Do you want to run the last saved program ?' %}');
            }

            program_running = true;

            $('#program_spinner').show();
            $('#program_log_data').val('');
            $("#program_modal").modal();

            let request_body = JSON.stringify({
                "pk": {{ program.pk }}
            });

            makeRequest(request_body, '{% url "api_run_prog" %}', runProgramCallback);
            getLogData();
        }

        function runProgramCallback(error, data, textStatus, jqXhr) {
            $('#program_spinner').hide();

            program_running = false;

            let log_data = $('#program_log_data');

            if (error) {
                log_data.val(log_data.val() + 'Something went terribly wrong: ' + data + "\n") //TODO localize/beautify
            }
        }

        function getLogData() {
            let request_body = JSON.stringify({});

            makeRequest(request_body, '{% url "api_pop_log" %}', getLogDataCallback)
        }

        function getLogDataCallback(error, data, textStatus, jqXhr) {
            let log_data = $('#program_log_data');

            log_data.val(log_data.val() + data.log);

            if (program_running) {
                setTimeout(function () {
                    getLogData();
                }, 500);
            }
        }

        // TODO make general method in base
        function makeRequest(request_body, url, callback) {
            $.ajax({
                url: url,
                dataType: 'json',
                type: 'POST',
                contentType: 'application/json',
                data: request_body,
                success: function (data, textStatus, jQxhr) {
                    if (typeof callback !== "undefined") {
                        callback(false, data, textStatus, jQxhr)
                    }
                },
                error: function (jqXhr, textStatus, errorThrown) {
                    console.log(jqXhr, textStatus, errorThrown);
                    if (typeof callback !== "undefined") {
                        callback(true, errorThrown, textStatus, jqXhr)
                    }
                }
            });
        }

        let toolbox = document.getElementById("toolbox");

        let options = {
            toolbox: toolbox,
            collapse: true,
            comments: true,
            disable: true,
            maxBlocks: Infinity,
            trashcan: true,
            horizontalLayout: false,
            toolboxPosition: 'start',
            css: true,
            media: '{% static 'blocky/media/' %}',
            rtl: false,
            scrollbars: true,
            sounds: true,
            oneBasedIndex: true,
            grid: {
                spacing: 20,
                length: 1,
                colour: '#888',
                snap: true
            },
            zoom: {
                controls: true,
                wheel: true,
                startScale: 1,
                maxScale: 3,
                minScale: 0.3,
                scaleSpeed: 1.2
            }
        };

        let blocklyDiv = document.getElementById('blocklyDiv');
        let workspace = Blockly.inject(blocklyDiv, options);

        let xml = Blockly.Xml.textToDom('{{ program.blockly_string | safe }}');
        Blockly.Xml.domToWorkspace(xml, workspace);

        workspace.scrollCenter();

        window.onbeforeunload = confirmExit;

        function confirmExit() {
            let xml = Blockly.Xml.workspaceToDom(workspace);
            let xml_text = Blockly.Xml.domToText(xml);

            if (xml_text !== workspace_last_data) {
                return "";
            }
        }

        let workspace_last_data = '{{ program.blockly_string | safe }}';
        let program_running = false;

    </script>
{% endblock %}