{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Pi GPIO" %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 text-center">
            <a href="https://pinout.xyz/" target="_blank">{% trans 'Raspberry Pi Pin Info' %}</a>
        </div>
    </div>

    <div id="blocklyDiv" style="height: 80%!important;"></div>
    
    <br/>

    <div class="row">
        <div class="col-12 text-center">
            <button data-toggle="modal" data-target="#io_modal" class="btn btn-success"><i
                    class="fas fa-share-alt"></i> {% trans 'Import/Export' %} </button>
            <button onclick="saveProgram()" class="btn btn-primary"><i class="fas fa-save"></i> {% trans 'Save' %}
            </button>
            <button onclick="runProgram()" class="btn btn-info"><i class="fas fa-running"></i> {% trans 'Run' %}
            </button>

            <a href="{% url 'edit_program' program.pk %}" class="btn btn-warning"><i class="fas fa-info-circle"></i>
                {% trans 'Program Details' %}</a>
        </div>
    </div>

    {% include 'toolbox.xml' %}

    <div class="modal" tabindex="-1" role="dialog" id="program_modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><i class="fas fa-running"></i> {% trans 'Execution Info' %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">

                    <div class="spinner-border" style="width: 5rem; height: 5rem;" role="status" id="program_spinner">
                        <span class="sr-only">Loading...</span>
                    </div>

                    <textarea class="form-control" id="program_log_data" style="height: 60%!important;"></textarea>
                    <br/>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="io_modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><i class="fas fa-share-alt"></i> {% trans 'Import/Export' %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <textarea id="blockly_io" class="form-control"></textarea>
                </div>

                <div class="modal-footer">
                    <button onclick="copyIOToClipboard()" class="btn btn-info"><i
                            class="far fa-copy"></i> {% trans 'Copy' %}
                    </button>
                    <button onclick="exportBlocks()" class="btn btn-success"><i
                            class="fas fa-download"></i> {% trans 'Export' %}
                    </button>
                    <button onclick="importBlocks()" class="btn btn-danger"><i
                            class="fas fa-upload"></i> {% trans 'Import' %}
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block script %}
    <script src="{% static 'blockly/blockly_compressed.js' %}"></script>
    <script src="{% static 'blockly/python_compressed.js' %}"></script>
    <script src="{% static 'blockly/blocks_compressed.js' %}"></script>
    <script src="{% static 'blockly/msg/js/en.js' %}"></script>

    <script src="{% static 'blockly_custom_blocks.js' %}"></script>

    <script type="text/javascript" src="{% static 'helper.js' %}"></script>

    <script type="text/javascript">

        function copyIOToClipboard() {
            $('#blockly_io').select();

            document.execCommand("copy");
        }

        function exportBlocks() {
            let xml = Blockly.Xml.workspaceToDom(workspace);
            let xml_text = Blockly.Xml.domToText(xml);
            $('#blockly_io').val(xml_text)
        }

        function importBlocks() {
            $("#io_modal").modal('hide');
            let blockly_io = $('#blockly_io');
            let xml = Blockly.Xml.textToDom(blockly_io.val());

            workspace_last_data = xml;

            Blockly.Xml.domToWorkspace(xml, workspace);
            blockly_io.val('');
            workspace.scrollCenter();
        }

        function saveProgram() {
            let xml = Blockly.Xml.workspaceToDom(workspace);
            let xml_text = Blockly.Xml.domToText(xml);

            let code = Blockly.Python.workspaceToCode(workspace);

            let request_body = JSON.stringify({
                "pk": {{ program.pk }},
                "blockly_string": xml_text,
                "code": code
            });

            makeRequest(request_body, '{% url "api_edit_program" %}', saveProgramCallback);
        }

        function saveProgramCallback(error, data, textStatus, jqXhr) {
            if (error) {
                alert('{% trans 'An Error occurred when trying to save your Program.' %}');
            } else {
                let xml = Blockly.Xml.workspaceToDom(workspace);
                workspace_last_data = Blockly.Xml.domToText(xml);
            }
        }

        function runProgram() {
            let xml = Blockly.Xml.workspaceToDom(workspace);
            let xml_text = Blockly.Xml.domToText(xml);

            if (workspace_last_data !== xml_text) {
                confirm('{% trans 'There are unsaved changes to your Program. Do you want to run the last saved program ?' %}');
            }

            program_running = true;

            $('#program_spinner').show();
            $('#program_log_data').val('');
            $("#program_modal").modal();

            let request_body = JSON.stringify({
                "pk": {{ program.pk }}
            });

            makeRequest(request_body, '{% url "api_run_prog" %}', runProgramCallback);
            getLogData();
        }

        function runProgramCallback(error, data, textStatus, jqXhr) {
            let log_data = $('#program_log_data');

            if (error) {
                log_data.val(log_data.val() + "{% trans 'Something went terribly wrong:' %}" + data + "\n")
            }
        }

        function getLogData() {
            let request_body = JSON.stringify({});

            makeRequest(request_body, '{% url "api_pop_log" %}', getLogDataCallback)
        }

        function getLogDataCallback(error, data, textStatus, jqXhr) {
            let log_data = $('#program_log_data');

            log_data.val(log_data.val() + data.log);

            if (log_data.length) {
                log_data.scrollTop(log_data[0].scrollHeight - log_data.height());
            }

            if (data.program_finished) {
                $('#program_spinner').hide();
                program_running = false;
            }

            if (program_running) {
                setTimeout(function () {
                    getLogData();
                }, 500);
            }
        }

        let toolbox = document.getElementById("toolbox");

        let options = {
            toolbox: toolbox,
            collapse: true,
            comments: true,
            disable: true,
            maxBlocks: Infinity,
            trashcan: true,
            horizontalLayout: false,
            toolboxPosition: 'start',
            css: true,
            media: '{% static 'blockly/media/' %}',
            rtl: false,
            scrollbars: true,
            sounds: true,
            oneBasedIndex: true,
            grid: {
                spacing: 20,
                length: 1,
                colour: '#888',
                snap: true
            },
            zoom: {
                controls: true,
                wheel: true,
                startScale: 1,
                maxScale: 3,
                minScale: 0.3,
                scaleSpeed: 1.2
            }
        };

        let blocklyDiv = document.getElementById('blocklyDiv');
        let workspace = Blockly.inject(blocklyDiv, options);

        {% if program.blockly_string != "" %}
            let workspace_last_data = '{{ program.blockly_string | safe }}';
        {% else %}
            let workspace_last_data = '<xml xmlns="http://www.w3.org/1999/xhtml"></xml>';
        {% endif %}

        let xml = Blockly.Xml.textToDom(workspace_last_data);
        Blockly.Xml.domToWorkspace(xml, workspace);

        workspace.scrollCenter();

        window.onbeforeunload = confirmExit;

        function confirmExit() {
            let xml = Blockly.Xml.workspaceToDom(workspace);
            let xml_text = Blockly.Xml.domToText(xml);

            if (xml_text !== workspace_last_data) {
                return "";
            }
        }

        let program_running = false;

    </script>
{% endblock %}