{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% load render_table from django_tables2 %}

{% block title %}{% trans "Program" %}{% endblock %}


{% block content %}

    Editing Program: <code>{{ program_info.name }}</code> <br/><br/>


    <table class="table table-hover" id="program_table">
        <thead>
        <tr id="program_table_head">
            <td>{% trans 'Line' %}</td>
            <td>{% trans 'Pin' %}</td>
            <td>{% trans 'Type' %}</td>
            <td>{% trans 'Data' %}</td>
            <td>{% trans 'Next sucess' %}</td>
            <td>{% trans 'Next fail' %}</td>
        </tr>
        </thead>

        {% for step in program_steps %}
            <tr data-id="{{ step.pk }}" data-num="{{ step.num }}">
                <td>
                    <code>{{ step.num }}</code>
                </td>
                <td>
                    <select class="form-control" name="select_type">
                        <option value="output"
                                {% if step.type == 'output' %}selected{% endif %}>{% trans 'Output' %}</option>
                        <option value="sleep"
                                {% if step.type == 'sleep' %}selected{% endif %}>{% trans 'Sleep' %}</option>
                    </select>
                </td>
                <td>
                    <input class="form-control" type="number" size="4" value="{{ step.pin }}" name="input_pin">
                </td>

                <td>
                    <input class="form-control" value="{{ step.data }}">
                </td>
                <td>
                    <input class="form-control" type="number" size="4" value="{{ step.successor_true }}">
                </td>
                <td>
                    <input class="form-control" type="number" size="4" value="{{ step.successor_false }}">
                </td>
            </tr>
        {% endfor %}
    </table>

    <button onclick="newStep({{ program_info.pk }})">New Step</button>

{% endblock %}

{% block script %}
    <script type="text/javascript">

        function saveAllSteps() {
            let rows = $("#program_table tr");
            for(var i = 0; i < rows.length; i++){
                if (rows[i].id !== 'program_table_head'){
                    let row_id = parseInt(rows[i].dataset.id);
                    let row_num = parseInt(rows[i].dataset.num);




                    editStep(row_id,row_num);
                }
            }
        }

        function editStep(id, num, pin, type, data, successor_true, succesor_false) {

            let request_body = JSON.stringify({
                "id": id,
                "num": num,
                "pin": pin,
                "type": type,
                "data": data,
                "successor_true": successor_true,
                "successor_false": successor_false,
            });

            makeRequest(request_body, '{% url "api_edit_step" %}')
        }

        function newStep(program) {
            var num = 0;

            let rows = $("#program_table tr");
            for(var i = 0; i < rows.length; i++){
                if (rows[i].id !== 'program_table_head'){
                    debugger;
                    let row_num = parseInt(rows[i].dataset.num);
                    if (row_num >= num){
                        num = row_num + 1;
                    }
                }
            }

            let request_body = JSON.stringify({
                "program": program,
                "num": num
            });

            makeRequest(request_body, '{% url "api_new_step" %}');
            location.reload();
        }

        // TODO make general method in base
        function makeRequest(request_body, url) {
            $.ajax({
                url: url,
                dataType: 'json',
                type: 'POST',
                contentType: 'application/json',
                data: request_body,
                success: function (data, textStatus, jQxhr) {
                    console.log(data, textStatus, jQxhr);
                },
                error: function (jqXhr, textStatus, errorThrown) {
                    console.log(errorThrown);
                }
            });
        }

    </script>
{% endblock %}