{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Pi GPIO" %}{% endblock %}



{% block content %}
    <div class="row">
        <div class="col-12 text-center">
            <a href="https://pinout.xyz/" target="_blank">{% trans 'Raspberry Pi Pin Info' %}</a>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div id="blocklyDiv" style="height: 75%!important;"></div>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-6 offset-3 text-center">
            <button onclick="exportBlocks()" class="btn btn-success"><i class="fas fa-download"></i> Export</button>
            <button onclick="importBlocks()" class="btn btn-danger"><i class="fas fa-upload"></i> Import</button>
            <button onclick="saveProgram()" class="btn btn-primary"><i class="fas fa-save"></i> Save </button>
            <button onclick="runProgram()" class="btn btn-info"><i class="fas fa-running"></i> Run</button>


        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-12">
            <textarea id="blocky_io" class="form-control"></textarea>
        </div>
    </div>

    <xml xmlns="http://www.w3.org/1999/xhtml" id="toolbox" style="display: none;">
        <category name="Variables" colour="#A65C81" custom="VARIABLE"></category>
        <category name="Math" colour="#5C68A6">
            <block type="math_number">
                <field name="NUM">0</field>
            </block>
            <block type="math_arithmetic">
                <field name="OP">ADD</field>
                <value name="A">
                    <shadow type="math_number">
                        <field name="NUM">1</field>
                    </shadow>
                </value>
                <value name="B">
                    <shadow type="math_number">
                        <field name="NUM">1</field>
                    </shadow>
                </value>
            </block>
            <block type="math_single">
                <field name="OP">ROOT</field>
                <value name="NUM">
                    <shadow type="math_number">
                        <field name="NUM">9</field>
                    </shadow>
                </value>
            </block>
            <block type="math_trig">
                <field name="OP">SIN</field>
                <value name="NUM">
                    <shadow type="math_number">
                        <field name="NUM">45</field>
                    </shadow>
                </value>
            </block>
            <block type="math_constant">
                <field name="CONSTANT">PI</field>
            </block>
            <block type="math_number_property">
                <mutation divisor_input="false"></mutation>
                <field name="PROPERTY">EVEN</field>
                <value name="NUMBER_TO_CHECK">
                    <shadow type="math_number">
                        <field name="NUM">0</field>
                    </shadow>
                </value>
            </block>
            <block type="math_round">
                <field name="OP">ROUND</field>
                <value name="NUM">
                    <shadow type="math_number">
                        <field name="NUM">3.1</field>
                    </shadow>
                </value>
            </block>
            <block type="math_on_list">
                <mutation op="SUM"></mutation>
                <field name="OP">SUM</field>
            </block>
            <block type="math_modulo">
                <value name="DIVIDEND">
                    <shadow type="math_number">
                        <field name="NUM">64</field>
                    </shadow>
                </value>
                <value name="DIVISOR">
                    <shadow type="math_number">
                        <field name="NUM">10</field>
                    </shadow>
                </value>
            </block>
            <block type="math_constrain">
                <value name="VALUE">
                    <shadow type="math_number">
                        <field name="NUM">50</field>
                    </shadow>
                </value>
                <value name="LOW">
                    <shadow type="math_number">
                        <field name="NUM">1</field>
                    </shadow>
                </value>
                <value name="HIGH">
                    <shadow type="math_number">
                        <field name="NUM">100</field>
                    </shadow>
                </value>
            </block>
            <block type="math_random_int">
                <value name="FROM">
                    <shadow type="math_number">
                        <field name="NUM">1</field>
                    </shadow>
                </value>
                <value name="TO">
                    <shadow type="math_number">
                        <field name="NUM">100</field>
                    </shadow>
                </value>
            </block>
            <block type="math_random_float"></block>
        </category>
        <category name="Loops" colour="#5CA65C">
            <block type="controls_repeat_ext">
                <value name="TIMES">
                    <shadow type="math_number">
                        <field name="NUM">10</field>
                    </shadow>
                </value>
            </block>
            <block type="controls_whileUntil">
                <field name="MODE">WHILE</field>
            </block>
            <block type="controls_for">
                <field name="VAR" id="=1d4z9=okx4zus7S[CRc" variabletype="">i</field>
                <value name="FROM">
                    <shadow type="math_number">
                        <field name="NUM">1</field>
                    </shadow>
                </value>
                <value name="TO">
                    <shadow type="math_number">
                        <field name="NUM">10</field>
                    </shadow>
                </value>
                <value name="BY">
                    <shadow type="math_number">
                        <field name="NUM">1</field>
                    </shadow>
                </value>
            </block>
            <block type="controls_forEach">
                <field name="VAR" id="pgr)4o-a;45vMSzr1w*x" variabletype="">j</field>
            </block>
            <block type="controls_flow_statements" disabled="true">
                <field name="FLOW">BREAK</field>
            </block>
        </category>
        <category name="Logic" colour="#5C81A6">
            <block type="controls_if"></block>
            <block type="logic_compare">
                <field name="OP">EQ</field>
            </block>
            <block type="logic_operation">
                <field name="OP">AND</field>
            </block>
            <block type="logic_negate"></block>
            <block type="logic_boolean">
                <field name="BOOL">TRUE</field>
            </block>
            <block type="logic_null"></block>
            <block type="logic_ternary"></block>
        </category>
        <category name="Text" colour="#5CA68D">
            <block type="text">
                <field name="TEXT"></field>
            </block>
            <block type="text_join">
                <mutation items="2"></mutation>
            </block>
            <block type="text_append">
                <field name="VAR" id="DigV)gWhnnaO9cm$SZk." variabletype="">item</field>
                <value name="TEXT">
                    <shadow type="text">
                        <field name="TEXT"></field>
                    </shadow>
                </value>
            </block>
            <block type="text_length">
                <value name="VALUE">
                    <shadow type="text">
                        <field name="TEXT">abc</field>
                    </shadow>
                </value>
            </block>
            <block type="text_isEmpty">
                <value name="VALUE">
                    <shadow type="text">
                        <field name="TEXT"></field>
                    </shadow>
                </value>
            </block>
            <block type="text_indexOf">
                <field name="END">FIRST</field>
                <value name="VALUE">
                    <block type="variables_get">
                        <field name="VAR" id="f_JsKbJw+(6-Q^Y*]$u{" variabletype="">text</field>
                    </block>
                </value>
                <value name="FIND">
                    <shadow type="text">
                        <field name="TEXT">abc</field>
                    </shadow>
                </value>
            </block>
            <block type="text_charAt">
                <mutation at="true"></mutation>
                <field name="WHERE">FROM_START</field>
                <value name="VALUE">
                    <block type="variables_get">
                        <field name="VAR" id="f_JsKbJw+(6-Q^Y*]$u{" variabletype="">text</field>
                    </block>
                </value>
            </block>
            <block type="text_getSubstring">
                <mutation at1="true" at2="true"></mutation>
                <field name="WHERE1">FROM_START</field>
                <field name="WHERE2">FROM_START</field>
                <value name="STRING">
                    <block type="variables_get">
                        <field name="VAR" id="f_JsKbJw+(6-Q^Y*]$u{" variabletype="">text</field>
                    </block>
                </value>
            </block>
            <block type="text_changeCase">
                <field name="CASE">UPPERCASE</field>
                <value name="TEXT">
                    <shadow type="text">
                        <field name="TEXT">abc</field>
                    </shadow>
                </value>
            </block>
            <block type="text_trim">
                <field name="MODE">BOTH</field>
                <value name="TEXT">
                    <shadow type="text">
                        <field name="TEXT">abc</field>
                    </shadow>
                </value>
            </block>
            <block type="text_print">
                <value name="TEXT">
                    <shadow type="text">
                        <field name="TEXT">abc</field>
                    </shadow>
                </value>
            </block>
            <block type="text_prompt_ext">
                <mutation type="TEXT"></mutation>
                <field name="TYPE">TEXT</field>
                <value name="TEXT">
                    <shadow type="text">
                        <field name="TEXT">abc</field>
                    </shadow>
                </value>
            </block>
        </category>
        <sep></sep>
        <category name="Pi GPIO" colour="#a5a55b">
            <block type="gpio_output"></block>
            <block type="sleep"></block>
        </category>
        <sep></sep>
    </xml>


    <div class="modal" tabindex="-1" role="dialog" id="program_modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><i class="fas fa-running"></i> {% trans 'Programm running' %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">

                    <div class="spinner-border" style="width: 5rem; height: 5rem;" role="status" id="program_spinner">
                        <span class="sr-only">Loading...</span>
                    </div>

                    <textarea class="form-control" id="program_callback_data"></textarea>
                    <br/>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block script %}
    <script src="{% static 'blocky/blockly_compressed.js' %}"></script>
    <script src="{% static 'blocky/python_compressed.js' %}"></script>
    <script src="{% static 'blocky/blocks_compressed.js' %}"></script>
    <script src="{% static 'blocky/msg/js/en.js' %}"></script>

    <script src="{% static 'blockly_custom_blocks.js' %}"></script>

    <script type="text/javascript">

        function exportBlocks() {
            var xml = Blockly.Xml.workspaceToDom(workspace);
            var xml_text = Blockly.Xml.domToText(xml);
            $('#blocky_io').val(xml_text)
        }

        function importBlocks() {
            var xml = Blockly.Xml.textToDom($('#blocky_io').val());
            Blockly.Xml.domToWorkspace(xml, workspace);
            $('#blocky_io').val('')
        }

        function saveProgram() {
            let xml = Blockly.Xml.workspaceToDom(workspace);
            let xml_text = Blockly.Xml.domToText(xml);

            let code = Blockly.Python.workspaceToCode(workspace);

            let request_body = JSON.stringify({
                "pk": {{ program.pk }},
                "blockly_string": xml_text,
                "code": code
            });

            makeRequest(request_body, '{% url "api_edit_program" %}', saveProgramCallback);

        }

        function saveProgramCallback(error, data, textStatus, jqXhr) {
            if (error) {
                alert('{% trans 'An Error occured when trying to save your Program.' %}');
            } else {
                workspace_changed = false;
            }
        }

        function runProgram() {
            $('#program_spinner').show();
            $('#program_callback_data').hide();

            $("#program_modal").modal()

            let request_body = JSON.stringify({
                "pk": {{ program.pk }}
            });

            makeRequest(request_body, '{% url "api_run_prog" %}', runProgramCallback)
        }

        function runProgramCallback(error, data, textStatus, jqXhr) {
            $('#program_spinner').hide();
            let cb_data = $('#program_callback_data');

            if (error) {
                cb_data.val('Something went terribly wrong: ' + data); //TODO localize/beautify
            } else {
                if (typeof data.error !== "undefined") {
                    cb_data.val(data.error);
                } else {
                    cb_data.val('{% trans 'Program ran successfully!' %}'); //TODO localize/beautify
                }
            }


            cb_data.show();
        }

        // TODO make general method in base
        function makeRequest(request_body, url, callback) {
            $.ajax({
                url: url,
                dataType: 'json',
                type: 'POST',
                contentType: 'application/json',
                data: request_body,
                success: function (data, textStatus, jQxhr) {
                    if (typeof callback !== "undefined") {
                        callback(false, data, textStatus, jQxhr)
                    }
                },
                error: function (jqXhr, textStatus, errorThrown) {
                    console.log(jqXhr, textStatus, errorThrown);
                    if (typeof callback !== "undefined") {
                        callback(true, errorThrown, textStatus, jqXhr)
                    }
                }
            });
        }

        var toolbox = document.getElementById("toolbox");

        var options = {
            toolbox: toolbox,
            collapse: true,
            comments: true,
            disable: true,
            maxBlocks: Infinity,
            trashcan: true,
            horizontalLayout: false,
            toolboxPosition: 'start',
            css: true,
            media: '{% static 'blocky/media/' %}',
            rtl: false,
            scrollbars: true,
            sounds: true,
            oneBasedIndex: true,
            grid: {
                spacing: 20,
                length: 1,
                colour: '#888',
                snap: true
            },
            zoom: {
                controls: true,
                wheel: true,
                startScale: 1,
                maxScale: 3,
                minScale: 0.3,
                scaleSpeed: 1.2
            }
        };

        let blocklyDiv = document.getElementById('blocklyDiv');
        let workspace = Blockly.inject(blocklyDiv, options);

        let xml = Blockly.Xml.textToDom('{{ program.blockly_string | safe }}');
        Blockly.Xml.domToWorkspace(xml, workspace);

        workspace.scrollCenter();

        workspace.addChangeListener(workspaceChangeListener);


        function workspaceChangeListener(event) {
            console.log(event.type);
            if (workspace_loaded) {
                workspace_changed = true;
            }

            if (event.type === Blockly.Events.FINISHED_LOADING) {
                workspace_loaded = true;
            }
        }

        window.onbeforeunload = confirmExit;

        function confirmExit() {
            if (workspace_changed) {
                return false;
            }
        }

        let workspace_changed = false;
        let workspace_loaded = false;

    </script>
{% endblock %}